.navbar {
  display: flex;
  justify-content: space-around;
  background: #eee5d5; }
  .navbar h3:hover {
    color: green; }
  .navbar .logo {
    display: flex;
    justify-content: center;
    margin-left: 3em; }
  .navbar .home-profile-about {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navbar .home-profile-about .nav-link {
      color: black;
      text-decoration: none; }
  .navbar .nav-right {
    display: flex; }
    .navbar .nav-right Button {
      width: 80%;
      font-size: 1.45rem;
      color: white;
      background-color: #8c8ea7;
      border: none;
      margin-right: 2em; }
