@import "./variables.scss";

.about-page {
  background: #2262b1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .about-people {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .person {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 3px solid #000000;
      margin: 3rem;
      width: 25vw;
      height: 50vh;
    }
  }
  .about-stack {
    display: flex;
  }
  .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
