#chatbox {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  background-color: green;
  overflow: auto;
  flex: 1 1 auto;
  overflow-wrap: break-word;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.enterText {
  width: 300px;
  height: 10vh;
  resize: none;
  border: 3px green solid;
}
