#chatbox {
  border: none;
  width: 280px;
  height: 50%;
  display: flex;
  background-color: white;
  overflow: auto;
  flex: 1 1 auto;
  overflow-wrap: break-word;
  flex-direction: column-reverse;
  justify-content: flex-start;
  font-size: 1.5rem;
  padding: 0.5em;
}

.enterText {
  width: 280px;
  height: 4rem;
  resize: none;
  border: 3px solid rgb(185, 188, 223);
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  font-size: 22px;
}

button.send-btn {
  width: 280px;
  background-color: rgb(185, 188, 223);
  border: none;
  font-size: 22px;
  font-weight: bold;
  
}
