@import "./variables.scss";

.header-bar {
  display: flex;
  justify-content: space-evenly;
  .space {
    width: 100%;
    // background-color: blue;
  }
  .title-name {
    width: 100%;
    // background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.collab-profile {
  display: flex;
  justify-content: flex-end;
  padding-right: 5em;
  width: 100%;
  // background-color: red;
  .add-collaborators {
    margin-right: 3em;
  }
  .back-to-profile {
    background-color: $btn;
    border: none;
  }
}
