@import "./variables.scss";
.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: $nav-background;
  h3:hover {
    color: $btn;
  }
  .logo {
    display: flex;
    justify-content: center;
    margin-left: 3em;
  }

  .home-profile-about {
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link {
      color: black;
      text-decoration: none;
    }
  }
  .nav-right {
    display: flex;
    Button {
      width: 80%;
      font-size: 1.45rem;
      color: white;
      background-color: $btn;
      border: none;
      margin-right: 2em;

      &:hover {
        background-color: $btn-hover;
      }

    }
  }
}

.exit-btn {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
