$font-family: "Poppins", sans-serif;

$white: #fff;
$black: #000;

$btn: #f7565c;
// this is the paintbrush color
// $nav-background: #dcd4d0;
$nav-background: #f3c9d0;

$base-background: "white";
// $base-background: #d6f6dd;
