$font-family: "Poppins", sans-serif;

$white: #fff;
$black: #000;

$btn: rgb(140, 142, 167);
// $btn: rgb(192, 177, 151);
// this is the paintbrush color
// $nav-background: #dcd4d0;
$nav-background: #d8d7ff;

$base-background: "white";
// $base-background: #d6f6dd;
